extends ../layout

block content

  h1= title

  form(method='post', action='/books/new')
    p
      label(for='title') Title
      input(name='title', type='text', id='title' value='')
    p
      label(for='author') Author
      input(name='author', type='text', id='author' value='')
    p
      label(for='genre') Genre
      input(name='genre', type='text', id='genre' value='')
    p
      label(for='year') Year
      input(name='year', type='text', id='year' value='')
    p
      input(class='input-submit', type='submit', value='Create New Book')

    p
      a(class='button', href='/books') Cancel

  