body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a:hover {
  color: black;
}

a.button,
.input-submit {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

form a.button,
.input-submit {
  margin-left: 140px;
  transition: 0.4s;
}

.input-submit {
  border: 0;
}

a.button:hover,
.input-submit:hover {
  background-color: #01b189;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

table {
  max-width: 629px;
}

th {
  border-bottom: 2px solid #d8b493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  height: 52px;
}

tr:nth-child(2n) {
  background: #e7e7e7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 4px;
  border-color: #e7e7e7;
  transition: 0.4s;
}

input[type="text"] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

.warning:hover {
  background-color: rgb(236, 15, 15);
}

/*******************************/
/* Main Nav                    */
/*******************************/

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 629px;
}

.main-nav__item {
  margin: 10px 5px 10px;
}
.search {
  /* Causes search input and button to align*/
  display: flex;
}

.search__input {
  border: 2px solid #019875;
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 17px;
  padding: 7px;
}

.search__submit {
  /* Overides margin set elsewhere */
  margin-left: 0px;
  border-radius: 0 4px 4px 0;
}

/*******************************/
/* Pagination                  */
/*******************************/

.pagination {
  display: flex;
  justify-content: center;
  max-width: 629px;
}
.pagination__item {
  margin: 20px 5px;
}

.block {
  /* Inline elements, such as <a>, 
  need to be set to block to be able to scale. */
  display: block;
}

a.active {
  background-color: #01b189;
  transform: scale(1.2);
}

/*******************************/
/* Media Queries               */
/*******************************/

@media (max-width: 575px) {
  body {
    padding: 0;
  }

  th,
  td {
    padding: 5px 10px 5px 10px;
  }

  tr {
    height: 50px;
  }

  .main-nav {
    justify-content: flex-end;
  }

  .search {
    display: flex;
    flex-grow: 2;
  }

  .search__input {
    flex-grow: 2;
  }

  .search__submit {
    flex-grow: 0;
  }
}
